* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

@media only screen and (max-width: 400px;) {
  * {
    border-color: blue;
  }
}

h1, h2 {
  text-align: center;
  margin: auto;
}

h3 {
  display: block;
  padding: 5px;
  margin-left: 15px;
  text-decoration: underline;
  font-family: "Times New Roman", serif;
}

h4 {
  display: block;
  padding: 5px;
  margin-left: 15px;
  font-style: italic;
  font-family: "Times New Roman", serif;
  font-size: 14pt;
}

hr {
  display: flex;
  align-self: center;
  width: 70%;
  border: 1px solid lightgray;
  margin: 15px 0px;
}

p {
  display: block;
  padding: 10px 25px 25px 25px;
  margin: 10px;
  font-family: "Times New Roman", serif;
  font-size: 14pt;
}

ul {
  list-style: none;
}

.page {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 100vw;
  background-color: #FFFBFA;
  padding-bottom: 50px;
}

.headbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  width: 100%;
  background-image: url(/photosbio/StudioNoire-157.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #FFFBFA;
}

.sub-headbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #FFFBFA;
}

.col-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 100%;
  padding: 25px;
}

.col-item h2 {
  text-align: left;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.image-container .imgItem {
  margin: 3%;
  width: 350px;
  height: 100%;
}

.image-container .imgItem img {
  width: 100%;
  height: 100%;
}

.bio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poem-navigator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.poem-navigator ul {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.poem-navigator ul li {
  display: flex;
  padding: 10px 15px;
}

.poem-arranger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.poem-arranger .poem-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  margin-bottom: 40px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #636363;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 51px;
  text-align: center;
}

.footer-item {
  height: 25px;
}

.footer-item a {
  color: #FFF1E3;
  text-decoration: none;
}

.footer-item a:hover {
  color: #FFFBFA;
  text-decoration: underline;
}

.footer-item a:active {
  color: #FFE6CF;
}
